In [8]:
%%sql
# A quick view of tables

SHOW TABLES

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('auditor_report',),
 ('data_dictionary',),
 ('employee',),
 ('global_water_access',),
 ('incorrect_records',),
 ('location',),
 ('visits',),
 ('water_quality',),
 ('water_source',),
 ('well_pollution',)]

In [26]:
%%sql
# joined location to visits table
SELECT
    province_name,
    town_name,
    v.visit_count,
    v.location_id
FROM
    visits v
JOIN
    location l
    ON l.location_id = v.location_id
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Sokoto', 'Ilanga', 1, 'SoIl32582'),
 ('Kilimani', 'Rural', 1, 'KiRu28935'),
 ('Hawassa', 'Rural', 1, 'HaRu19752'),
 ('Akatsi', 'Lusaka', 1, 'AkLu01628'),
 ('Akatsi', 'Rural', 1, 'AkRu03357')]

In [36]:
%%sql
# added water_source table to the join between location and visits tables
# included only records where the visit count was 1, to eliminate duplicates
SELECT
    province_name,
    town_name,
    v.visit_count,
    v.location_id,
    ws.type_of_water_source,
    ws.number_of_people_served
FROM
    visits v
JOIN
    location l
    ON l.location_id = v.location_id
JOIN
    water_source ws
    ON ws.source_id = v.source_id
WHERE
    v.visit_count = 1
ORDER BY
    location_id
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Akatsi', 'Harare', 1, 'AkHa00000', 'tap_in_home', 956),
 ('Akatsi', 'Harare', 1, 'AkHa00001', 'tap_in_home_broken', 930),
 ('Akatsi', 'Harare', 1, 'AkHa00002', 'tap_in_home_broken', 486),
 ('Akatsi', 'Harare', 1, 'AkHa00003', 'well', 364),
 ('Akatsi', 'Harare', 1, 'AkHa00004', 'tap_in_home_broken', 942)]

In [46]:
%%sql
# substituted location_id with location_type and also added time_in_queue column to our results set
SELECT
    province_name,
    town_name,
    ws.type_of_water_source,
    l.location_type,
    ws.number_of_people_served,
    v.time_in_queue
FROM
    visits v
JOIN
    location l
    ON l.location_id = v.location_id
JOIN
    water_source ws
    ON ws.source_id = v.source_id
WHERE
    v.visit_count = 1
LIMIT 8;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
8 rows affected.

[('Sokoto', 'Ilanga', 'river', 'Urban', 402, 15),
 ('Kilimani', 'Rural', 'well', 'Rural', 252, 0),
 ('Hawassa', 'Rural', 'shared_tap', 'Rural', 542, 62),
 ('Akatsi', 'Lusaka', 'well', 'Urban', 210, 0),
 ('Akatsi', 'Rural', 'shared_tap', 'Rural', 2598, 28),
 ('Kilimani', 'Rural', 'river', 'Rural', 862, 9),
 ('Akatsi', 'Rural', 'tap_in_home_broken', 'Rural', 496, 0),
 ('Kilimani', 'Rural', 'tap_in_home', 'Rural', 562, 0)]

In [52]:
%%sql
# well_pollution table only has data for the well type of water source.
# I used a left join with the visits table to get the results column
SELECT
ws.type_of_water_source,    
l.town_name,
l.province_name,
l.location_type,
ws.number_of_people_served,
v.time_in_queue,
wp.results
FROM
    visits v
LEFT JOIN
    well_pollution wp
    ON wp.source_id = v.source_id
JOIN
    location l
    ON l.location_id = v.location_id
JOIN
    water_source ws
    ON ws.source_id = v.source_id
WHERE
    v.visit_count = 1
LIMIT 8;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
8 rows affected.

[('river', 'Ilanga', 'Sokoto', 'Urban', 402, 15, None),
 ('well', 'Rural', 'Kilimani', 'Rural', 252, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Rural', 'Hawassa', 'Rural', 542, 62, None),
 ('well', 'Lusaka', 'Akatsi', 'Urban', 210, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Rural', 'Akatsi', 'Rural', 2598, 28, None),
 ('river', 'Rural', 'Kilimani', 'Rural', 862, 9, None),
 ('tap_in_home_broken', 'Rural', 'Akatsi', 'Rural', 496, 0, None),
 ('tap_in_home', 'Rural', 'Kilimani', 'Rural', 562, 0, None)]

In [ ]:
%%sql
# created a view, from the results set, that assembles data from different tables into one to simplify analysis.
DROP VIEW IF EXISTS combined_analysis_table;
CREATE VIEW 
    combined_analysis_table AS (
        SELECT
        ws.type_of_water_source source_type,    
        l.town_name,
        l.province_name,
        l.location_type,
        ws.number_of_people_served people_served,
        v.time_in_queue,
        wp.results
        FROM
            visits v
        LEFT JOIN
            well_pollution wp
            ON wp.source_id = v.source_id
        JOIN
            location l
            ON l.location_id = v.location_id
        JOIN
            water_source ws
            ON ws.source_id = v.source_id
        WHERE
            v.visit_count = 1
    );

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.
 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

In [58]:
%%sql
# quick look on the new created view

SELECT
    *
FROM
    combined_analysis_table
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('river', 'Ilanga', 'Sokoto', 'Urban', 402, 15, None),
 ('well', 'Rural', 'Kilimani', 'Rural', 252, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Rural', 'Hawassa', 'Rural', 542, 62, None),
 ('well', 'Lusaka', 'Akatsi', 'Urban', 210, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Rural', 'Akatsi', 'Rural', 2598, 28, None)]

In [63]:
%%sql
# Began building a pivot table!
# Created a CTE that sums up the number of people served per province
WITH
    province_totals AS (-- This CTE calculates the population of each province
        SELECT
            province_name,
            SUM(people_served) AS total_ppl_serv
        FROM
            combined_analysis_table
        GROUP BY
            province_name
        )

SELECT
    *
FROM
    province_totals;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Sokoto', Decimal('5774434')),
 ('Kilimani', Decimal('6584764')),
 ('Hawassa', Decimal('3843810')),
 ('Akatsi', Decimal('5993306')),
 ('Amanzi', Decimal('5431826'))]

In [66]:
%%sql
# Built a pivot table that helps us understand where we should focus on repairing the water sources.
# Added the main query that selects the province names, and uses CASE statements to sum and calculate percentages.
# the result set has % values

# breakdown # 
# ct.province_name selects province name from the view 'combined_analysis_table'
# people served is selected from view, to be aggregated within the main query
# SUM() adds up the people served for a given source type
# CASE statements allow proper claasification and filtering of water source types
# The sum of people served is divide by total people served (from the CTE 'province_totals') then * by 100 to be %
# to facilitate this, the CTE is joined to th View ON province_name
# The main query begins with selecting province_name, which is automatically the column to group by due to aggregations

WITH
    province_totals AS (-- This CTE calculates the population of each province
        SELECT
            province_name,
            SUM(people_served) AS total_ppl_serv
        FROM
            combined_analysis_table
        GROUP BY
            province_name
        )


SELECT
    ct.province_name, -- ct is alias for the view created earlier on
    -- These case statements create columns for each type of source.
    -- The results are aggregated and percentages are calculated
    ROUND((SUM(CASE 
                    WHEN source_type = 'river' 
                        THEN people_served 
                    ELSE 0 
                END) * 100.0 / pt.total_ppl_serv
                ), 0) AS river,
    ROUND((SUM(CASE 
                    WHEN source_type = 'shared_tap'
                        THEN people_served 
                    ELSE 0 
                END) * 100.0 / pt.total_ppl_serv
                ), 0) AS shared_tap,
    ROUND((SUM(CASE 
                    WHEN source_type = 'tap_in_home'
                        THEN people_served 
                    ELSE 0 
                END) * 100.0 / pt.total_ppl_serv
                ), 0) AS tap_in_home,
    ROUND((SUM(CASE 
                    WHEN source_type = 'tap_in_home_broken' 
                        THEN people_served 
                    ELSE 0 
                END) * 100.0 / pt.total_ppl_serv
                ), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE 
                    WHEN source_type = 'well' 
                        THEN people_served 
                    ELSE 0 
                END) * 100.0 / pt.total_ppl_serv
                ), 0) AS well
FROM
    combined_analysis_table ct
JOIN
    province_totals pt 
    ON ct.province_name = pt.province_name
GROUP BY
    ct.province_name
ORDER BY
    ct.province_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Akatsi', Decimal('5'), Decimal('49'), Decimal('14'), Decimal('10'), Decimal('23')),
 ('Amanzi', Decimal('3'), Decimal('38'), Decimal('28'), Decimal('24'), Decimal('7')),
 ('Hawassa', Decimal('4'), Decimal('43'), Decimal('15'), Decimal('15'), Decimal('24')),
 ('Kilimani', Decimal('8'), Decimal('47'), Decimal('13'), Decimal('12'), Decimal('20')),
 ('Sokoto', Decimal('21'), Decimal('38'), Decimal('16'), Decimal('10'), Decimal('15'))]

### Patterns Observed:

- Sokoto has the largest population of people drinking river water. We should send our drilling equipment to Sokoto first. so people can drink safe filtered water from a well.
- The majority of water from Amanzi comes from taps, but half of these home taps don't work because the infrastructure is broken. We need to send out engineering teams to look at the infrastructure in Amanzi first. Fixing a large pump, treatment plant or reservoir means that thousands of people will have running water. This means they will also not have to queue for water, so we improve two things at once.

In [17]:
%%sql
# Built a pivot table that helps us aggregate the data per town now.
# We group by province first, then by town, so that the duplicate towns are distinct. 
# Harare appears in two provinces.. add this clause: WHERE ct.town_name = 'Harare'
# The CTE 'town_totals' calculates the sum of people served in towns, first grouped by province, then by town.
# Since the town names are not unique, we have to join on a composite key, ie province_name AND town_name
WITH
    town_totals AS (-- This CTE calculates the population of each town
        SELECT
            province_name,
            town_name,            
            SUM(people_served) AS total_ppl_serv
        FROM
            combined_analysis_table
        GROUP BY
            province_name, town_name
        )


SELECT
    ct.province_name,
    ct.town_name,
    ROUND((SUM(CASE 
                    WHEN source_type = 'river' 
                        THEN people_served 
                    ELSE 0 
                END) * 100.0 / tt.total_ppl_serv
                ), 0) AS river,
    ROUND((SUM(CASE 
                    WHEN source_type = 'shared_tap'
                        THEN people_served 
                    ELSE 0 
                END) * 100.0 / tt.total_ppl_serv
                ), 0) AS shared_tap,
    ROUND((SUM(CASE 
                    WHEN source_type = 'tap_in_home'
                        THEN people_served 
                    ELSE 0 
                END) * 100.0 / tt.total_ppl_serv
                ), 0) AS tap_in_home,
    ROUND((SUM(CASE 
                    WHEN source_type = 'tap_in_home_broken' 
                        THEN people_served 
                    ELSE 0 
                END) * 100.0 / tt.total_ppl_serv
                ), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE 
                    WHEN source_type = 'well' 
                        THEN people_served 
                    ELSE 0 
                END) * 100.0 / tt.total_ppl_serv
                ), 0) AS well
FROM
    combined_analysis_table ct
JOIN 
    town_totals tt 
    ON ct.province_name = tt.province_name 
    AND ct.town_name = tt.town_name
GROUP BY
    ct.province_name,
    ct.town_name
ORDER BY
    ct.town_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

[('Amanzi', 'Abidjan', Decimal('2'), Decimal('53'), Decimal('22'), Decimal('19'), Decimal('4')),
 ('Kilimani', 'Amara', Decimal('8'), Decimal('22'), Decimal('25'), Decimal('16'), Decimal('30')),
 ('Amanzi', 'Amina', Decimal('8'), Decimal('24'), Decimal('3'), Decimal('56'), Decimal('9')),
 ('Hawassa', 'Amina', Decimal('2'), Decimal('14'), Decimal('19'), Decimal('24'), Decimal('42')),
 ('Amanzi', 'Asmara', Decimal('3'), Decimal('49'), Decimal('24'), Decimal('20'), Decimal('4')),
 ('Sokoto', 'Bahari', Decimal('21'), Decimal('11'), Decimal('36'), Decimal('12'), Decimal('20')),
 ('Amanzi', 'Bello', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('22'), Decimal('3')),
 ('Sokoto', 'Cheche', Decimal('19'), Decimal('16'), Decimal('35'), Decimal('12'), Decimal('18')),
 ('Amanzi', 'Dahabu', Decimal('3'), Decimal('37'), Decimal('55'), Decimal('1'), Decimal('4')),
 ('Hawassa', 'Deka', Decimal('3'), Decimal('16'), Decimal('23'), Decimal('21'), Decimal('38')),
 ('Hawassa', 'Djenne', Decimal('3'), Decimal('18'), Decimal('19'), Decimal('23'), Decimal('36')),
 ('Akatsi', 'Harare', Decimal('2'), Decimal('17'), Decimal('28'), Decimal('27'), Decimal('27')),
 ('Kilimani', 'Harare', Decimal('7'), Decimal('11'), Decimal('30'), Decimal('20'), Decimal('31')),
 ('Sokoto', 'Ilanga', Decimal('16'), Decimal('12'), Decimal('36'), Decimal('15'), Decimal('21')),
 ('Kilimani', 'Isiqalo', Decimal('7'), Decimal('19'), Decimal('25'), Decimal('18'), Decimal('30')),
 ('Akatsi', 'Kintampo', Decimal('2'), Decimal('15'), Decimal('31'), Decimal('26'), Decimal('26')),
 ('Sokoto', 'Kofi', Decimal('20'), Decimal('16'), Decimal('34'), Decimal('10'), Decimal('20')),
 ('Akatsi', 'Lusaka', Decimal('2'), Decimal('17'), Decimal('28'), Decimal('28'), Decimal('26')),
 ('Sokoto', 'Majengo', Decimal('18'), Decimal('14'), Decimal('36'), Decimal('12'), Decimal('20')),
 ('Sokoto', 'Marang', Decimal('17'), Decimal('19'), Decimal('31'), Decimal('13'), Decimal('21')),
 ('Kilimani', 'Mrembo', Decimal('7'), Decimal('16'), Decimal('25'), Decimal('21'), Decimal('32')),
 ('Amanzi', 'Pwani', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('21'), Decimal('4')),
 ('Kilimani', 'Rural', Decimal('9'), Decimal('55'), Decimal('8'), Decimal('9'), Decimal('19')),
 ('Hawassa', 'Rural', Decimal('4'), Decimal('52'), Decimal('12'), Decimal('12'), Decimal('19')),
 ('Akatsi', 'Rural', Decimal('6'), Decimal('59'), Decimal('9'), Decimal('5'), Decimal('22')),
 ('Sokoto', 'Rural', Decimal('22'), Decimal('49'), Decimal('8'), Decimal('8'), Decimal('13')),
 ('Amanzi', 'Rural', Decimal('3'), Decimal('27'), Decimal('30'), Decimal('30'), Decimal('10')),
 ('Hawassa', 'Serowe', Decimal('6'), Decimal('14'), Decimal('23'), Decimal('23'), Decimal('34')),
 ('Hawassa', 'Yaounde', Decimal('2'), Decimal('14'), Decimal('22'), Decimal('23'), Decimal('38')),
 ('Hawassa', 'Zanzibar', Decimal('0'), Decimal('22'), Decimal('22'), Decimal('17'), Decimal('40')),
 ('Kilimani', 'Zuri', Decimal('8'), Decimal('71'), Decimal('6'), Decimal('11'), Decimal('4'))]

In [ ]:
def run_sql_safely(query: str):
    """
    Run SQL safely (no errors, no '0 rows affected').
    Returns [] when no result rows are produced.
    """
    results = []
    for q in query.strip().split(";"):
        if q.strip():
            try:
                res = %sql $q
                # Only keep results if it's a SELECT with rows
                if res and not isinstance(res, str):
                    results = res
            except Exception:
                pass
    return results if results else []

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

[]

In [23]:
%%sql
# sorted the result set by sum of people served by river
# Again as seen earlier through province analysis, Sokoto is at the top with many people drinking river water
# However, some citizens are forced to drink unsafe water from a river, while a lot of people have taps at home in Sokoto.
# Large disparities in water access like this often show that the wealth distribution in Sokoto is very unequal.

SELECT *
FROM
    town_aggregated_water_access
ORDER BY
    river DESC;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

[('Sokoto', 'Rural', Decimal('8'), Decimal('8'), Decimal('49'), Decimal('13'), Decimal('22')),
 ('Sokoto', 'Bahari', Decimal('36'), Decimal('12'), Decimal('11'), Decimal('20'), Decimal('21')),
 ('Sokoto', 'Kofi', Decimal('34'), Decimal('10'), Decimal('16'), Decimal('20'), Decimal('20')),
 ('Sokoto', 'Cheche', Decimal('35'), Decimal('12'), Decimal('16'), Decimal('18'), Decimal('19')),
 ('Sokoto', 'Majengo', Decimal('36'), Decimal('12'), Decimal('14'), Decimal('20'), Decimal('18')),
 ('Sokoto', 'Marang', Decimal('31'), Decimal('13'), Decimal('19'), Decimal('21'), Decimal('17')),
 ('Sokoto', 'Ilanga', Decimal('36'), Decimal('15'), Decimal('12'), Decimal('21'), Decimal('16')),
 ('Kilimani', 'Rural', Decimal('8'), Decimal('9'), Decimal('55'), Decimal('19'), Decimal('9')),
 ('Amanzi', 'Amina', Decimal('3'), Decimal('56'), Decimal('24'), Decimal('9'), Decimal('8')),
 ('Kilimani', 'Amara', Decimal('25'), Decimal('16'), Decimal('22'), Decimal('30'), Decimal('8')),
 ('Kilimani', 'Zuri', Decimal('6'), Decimal('11'), Decimal('71'), Decimal('4'), Decimal('8')),
 ('Kilimani', 'Harare', Decimal('30'), Decimal('20'), Decimal('11'), Decimal('31'), Decimal('7')),
 ('Kilimani', 'Isiqalo', Decimal('25'), Decimal('18'), Decimal('19'), Decimal('30'), Decimal('7')),
 ('Kilimani', 'Mrembo', Decimal('25'), Decimal('21'), Decimal('16'), Decimal('32'), Decimal('7')),
 ('Akatsi', 'Rural', Decimal('9'), Decimal('5'), Decimal('59'), Decimal('22'), Decimal('6')),
 ('Hawassa', 'Serowe', Decimal('23'), Decimal('23'), Decimal('14'), Decimal('34'), Decimal('6')),
 ('Hawassa', 'Rural', Decimal('12'), Decimal('12'), Decimal('52'), Decimal('19'), Decimal('4')),
 ('Amanzi', 'Asmara', Decimal('24'), Decimal('20'), Decimal('49'), Decimal('4'), Decimal('3')),
 ('Amanzi', 'Bello', Decimal('20'), Decimal('22'), Decimal('53'), Decimal('3'), Decimal('3')),
 ('Amanzi', 'Dahabu', Decimal('55'), Decimal('1'), Decimal('37'), Decimal('4'), Decimal('3')),
 ('Amanzi', 'Pwani', Decimal('20'), Decimal('21'), Decimal('53'), Decimal('4'), Decimal('3')),
 ('Amanzi', 'Rural', Decimal('30'), Decimal('30'), Decimal('27'), Decimal('10'), Decimal('3')),
 ('Hawassa', 'Deka', Decimal('23'), Decimal('21'), Decimal('16'), Decimal('38'), Decimal('3')),
 ('Hawassa', 'Djenne', Decimal('19'), Decimal('23'), Decimal('18'), Decimal('36'), Decimal('3')),
 ('Akatsi', 'Harare', Decimal('28'), Decimal('27'), Decimal('17'), Decimal('27'), Decimal('2')),
 ('Akatsi', 'Kintampo', Decimal('31'), Decimal('26'), Decimal('15'), Decimal('26'), Decimal('2')),
 ('Akatsi', 'Lusaka', Decimal('28'), Decimal('28'), Decimal('17'), Decimal('26'), Decimal('2')),
 ('Amanzi', 'Abidjan', Decimal('22'), Decimal('19'), Decimal('53'), Decimal('4'), Decimal('2')),
 ('Hawassa', 'Amina', Decimal('19'), Decimal('24'), Decimal('14'), Decimal('42'), Decimal('2')),
 ('Hawassa', 'Yaounde', Decimal('22'), Decimal('23'), Decimal('14'), Decimal('38'), Decimal('2')),
 ('Hawassa', 'Zanzibar', Decimal('22'), Decimal('17'), Decimal('22'), Decimal('40'), Decimal('0'))]

In [26]:
%%sql
# when sorted by province_name (as in temporary table), Amina town in Amanzi province has a strong insight
# Here only 3% of Amina's citizens have access to running tap water in their homes.
# More than half of the people in Amina have taps installed in their homes, but they are not working. 
# Priority is to send the teams to fix the infrastructure in Amina first.
# Fixing taps in people's homes, means the queues in Amina will also get shorter!

SELECT *
FROM
    town_aggregated_water_access;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

[('Akatsi', 'Harare', Decimal('28'), Decimal('27'), Decimal('17'), Decimal('27'), Decimal('2')),
 ('Akatsi', 'Kintampo', Decimal('31'), Decimal('26'), Decimal('15'), Decimal('26'), Decimal('2')),
 ('Akatsi', 'Lusaka', Decimal('28'), Decimal('28'), Decimal('17'), Decimal('26'), Decimal('2')),
 ('Akatsi', 'Rural', Decimal('9'), Decimal('5'), Decimal('59'), Decimal('22'), Decimal('6')),
 ('Amanzi', 'Abidjan', Decimal('22'), Decimal('19'), Decimal('53'), Decimal('4'), Decimal('2')),
 ('Amanzi', 'Amina', Decimal('3'), Decimal('56'), Decimal('24'), Decimal('9'), Decimal('8')),
 ('Amanzi', 'Asmara', Decimal('24'), Decimal('20'), Decimal('49'), Decimal('4'), Decimal('3')),
 ('Amanzi', 'Bello', Decimal('20'), Decimal('22'), Decimal('53'), Decimal('3'), Decimal('3')),
 ('Amanzi', 'Dahabu', Decimal('55'), Decimal('1'), Decimal('37'), Decimal('4'), Decimal('3')),
 ('Amanzi', 'Pwani', Decimal('20'), Decimal('21'), Decimal('53'), Decimal('4'), Decimal('3')),
 ('Amanzi', 'Rural', Decimal('30'), Decimal('30'), Decimal('27'), Decimal('10'), Decimal('3')),
 ('Hawassa', 'Amina', Decimal('19'), Decimal('24'), Decimal('14'), Decimal('42'), Decimal('2')),
 ('Hawassa', 'Deka', Decimal('23'), Decimal('21'), Decimal('16'), Decimal('38'), Decimal('3')),
 ('Hawassa', 'Djenne', Decimal('19'), Decimal('23'), Decimal('18'), Decimal('36'), Decimal('3')),
 ('Hawassa', 'Rural', Decimal('12'), Decimal('12'), Decimal('52'), Decimal('19'), Decimal('4')),
 ('Hawassa', 'Serowe', Decimal('23'), Decimal('23'), Decimal('14'), Decimal('34'), Decimal('6')),
 ('Hawassa', 'Yaounde', Decimal('22'), Decimal('23'), Decimal('14'), Decimal('38'), Decimal('2')),
 ('Hawassa', 'Zanzibar', Decimal('22'), Decimal('17'), Decimal('22'), Decimal('40'), Decimal('0')),
 ('Kilimani', 'Amara', Decimal('25'), Decimal('16'), Decimal('22'), Decimal('30'), Decimal('8')),
 ('Kilimani', 'Harare', Decimal('30'), Decimal('20'), Decimal('11'), Decimal('31'), Decimal('7')),
 ('Kilimani', 'Isiqalo', Decimal('25'), Decimal('18'), Decimal('19'), Decimal('30'), Decimal('7')),
 ('Kilimani', 'Mrembo', Decimal('25'), Decimal('21'), Decimal('16'), Decimal('32'), Decimal('7')),
 ('Kilimani', 'Rural', Decimal('8'), Decimal('9'), Decimal('55'), Decimal('19'), Decimal('9')),
 ('Kilimani', 'Zuri', Decimal('6'), Decimal('11'), Decimal('71'), Decimal('4'), Decimal('8')),
 ('Sokoto', 'Bahari', Decimal('36'), Decimal('12'), Decimal('11'), Decimal('20'), Decimal('21')),
 ('Sokoto', 'Cheche', Decimal('35'), Decimal('12'), Decimal('16'), Decimal('18'), Decimal('19')),
 ('Sokoto', 'Ilanga', Decimal('36'), Decimal('15'), Decimal('12'), Decimal('21'), Decimal('16')),
 ('Sokoto', 'Kofi', Decimal('34'), Decimal('10'), Decimal('16'), Decimal('20'), Decimal('20')),
 ('Sokoto', 'Majengo', Decimal('36'), Decimal('12'), Decimal('14'), Decimal('20'), Decimal('18')),
 ('Sokoto', 'Marang', Decimal('31'), Decimal('13'), Decimal('19'), Decimal('21'), Decimal('17')),
 ('Sokoto', 'Rural', Decimal('8'), Decimal('8'), Decimal('49'), Decimal('13'), Decimal('22'))]

In [30]:
%%sql
# trying to uncover more insights, which town has the highest ratio of people who have taps, but have no running water?
# Amina has infrastructure installed, but almost none of it is working
# only the capital city, Dahabu's water infrastructure works
SELECT
    province_name,
    town_name,
    ROUND(tap_in_home_broken / (tap_in_home_broken + tap_in_home) * 100,0) AS Pct_broken_taps
FROM
    town_aggregated_water_access
ORDER BY
    Pct_broken_taps DESC;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

[('Amanzi', 'Amina', Decimal('95')),
 ('Kilimani', 'Zuri', Decimal('65')),
 ('Hawassa', 'Amina', Decimal('56')),
 ('Hawassa', 'Djenne', Decimal('55')),
 ('Kilimani', 'Rural', Decimal('53')),
 ('Amanzi', 'Bello', Decimal('52')),
 ('Amanzi', 'Pwani', Decimal('51')),
 ('Hawassa', 'Yaounde', Decimal('51')),
 ('Akatsi', 'Lusaka', Decimal('50')),
 ('Amanzi', 'Rural', Decimal('50')),
 ('Hawassa', 'Rural', Decimal('50')),
 ('Hawassa', 'Serowe', Decimal('50')),
 ('Sokoto', 'Rural', Decimal('50')),
 ('Akatsi', 'Harare', Decimal('49')),
 ('Hawassa', 'Deka', Decimal('48')),
 ('Akatsi', 'Kintampo', Decimal('46')),
 ('Amanzi', 'Abidjan', Decimal('46')),
 ('Kilimani', 'Mrembo', Decimal('46')),
 ('Amanzi', 'Asmara', Decimal('45')),
 ('Hawassa', 'Zanzibar', Decimal('44')),
 ('Kilimani', 'Isiqalo', Decimal('42')),
 ('Kilimani', 'Harare', Decimal('40')),
 ('Kilimani', 'Amara', Decimal('39')),
 ('Akatsi', 'Rural', Decimal('36')),
 ('Sokoto', 'Marang', Decimal('30')),
 ('Sokoto', 'Ilanga', Decimal('29')),
 ('Sokoto', 'Cheche', Decimal('26')),
 ('Sokoto', 'Bahari', Decimal('25')),
 ('Sokoto', 'Majengo', Decimal('25')),
 ('Sokoto', 'Kofi', Decimal('23')),
 ('Amanzi', 'Dahabu', Decimal('2'))]

# Summary report
## Insights

From past analysis, some interesting insights were uncovered:
1. Most water sources are rural in Maji Ndogo.
2. 43% of people are using shared taps. 2000 people often share one tap.
3. 31% of population has water infrastructure in their homes, but within that group,
4. 45% face non-functional systems due to issues with pipes, pumps, and reservoirs. Towns like Amina, the rural parts of Amanzi, and a couple of towns across Akatsi and Hawassa have broken infrastructure.
5. 18% of people are using wells of which, but within that, only 28% are clean. These are mostly in Hawassa, Kilimani and Akatsi.
6. Citizens often face long wait times for water, averaging more than 120 minutes:
    - Queues are very long on Saturdays.
    - Queues are longer in the mornings and evenings.
    - Wednesdays and Sundays have the shortest queues.

## Plan of action
1. Focus efforts on improving the water sources that affect the most people.
    - Most people will benefit if the shared taps are improved first.
2. Wells are a good source of water, but many are contaminated. Fixing this will benefit a lot of people.
3. Fixing existing infrastructure will help many people. If they have running water again, they won't have to queue, thereby shorting queue times for others. So two problems can be solved at once.
4. Installing taps in homes will stretch resources too thin, so for now if the queue times are low, no need to improve that source.
5. Most water sources are in rural areas. Repair teams need to know this as this means they will have to make these repairs/upgrades in rural areas where road conditions, supplies, and labour are harder challenges to overcome.

# Practical solutions:
1. If communities are using rivers, we will dispatch trucks to those regions to provide water temporarily in the short term, while we send out crews to drill for wells, providing a more permanent solution. Sokoto is the first province we will target.
2. If communities are using wells, we will install filters to purify the water. For chemically polluted wells, we can install reverse osmosis (RO) filters, and for wells with biological contamination, we can install UV filters that kill microorganisms - but we should install RO filters too. In the long term, we must figure out why these sources are polluted.
3. For shared taps, in the short term, we can send additional water tankers to the busiest taps, on the busiest days. We can use the queue time pivot table we made to send tankers at the busiest times. Meanwhile, we can start the work on installing extra taps where they are needed.
    - According to UN standards, the maximum acceptable wait time for water is 30 minutes.
    - With this in mind, our aim is to install taps to get queue times below 30 min.
    - Towns like Bello, Abidjan and Zuri have a lot of people using shared taps, so we will send out teams to those
      towns first.
4. Shared taps with short queue times (< 30 min) represent a logistical challenge to further reduce waiting times. The most effective solution, installing taps in homes, is resource-intensive and better suited as a long-term goal.
5. Addressing broken infrastructure offers a significant impact even with just a single intervention. It is expensive to fix, but so many people can benefit from repairing one facility.
   - For example, fixing a reservoir or pipe that multiple taps are connected to.
   - We identified towns like Amina, Lusaka, Zuri, Djenne and rural parts of Amanzi seem to be good places to start.


## A practical plan

- Our final goal is to implement our plan in the database.
- We have a plan to improve the water access in Maji Ndogo, so we need to think it through, and as our final task, we
  create a table where our teams have the information they need to fix, upgrade and repair water sources.
- They will need the addresses of the places they should visit (street address, town, province), the type of water source
  they should improve, and what should be done to improve it.
- We should also make space for them in the database to update us on their progress. We need to know if the repair is
  complete, and the date it was completed, and give them space to upgrade the sources.
- Let's call this table Project_progress.

In [ ]:
%%sql
# created the Project_progress table
# Project_id  Unique key for sources in case we visit the same source more than once in the future.
# source_id  Each of the sources we want to improve should exist, and should refer to the source table. 
            # This ensures data integrity.
# Improvement  What the engineers should do at that place
# Source_status  We want to limit the type of information engineers can give us, so we limit Source_status.
                # By DEFAULT all projects are in the "Backlog" which is like a TODO list.
                # CHECK() ensures only those three options will be accepted. This helps to maintain clean data.
# Date_of_completion  Engineers will add this the day the source has been upgraded.
# Comments  Engineers can leave comments. We use a TEXT type that has no limit on char length

DROP TABLE IF EXISTS Project_progress;
CREATE TABLE Project_progress (
    Project_id SERIAL PRIMARY KEY,
    source_id VARCHAR(20) NOT NULL REFERENCES water_source(source_id) ON DELETE CASCADE ON UPDATE CASCADE,
    Address VARCHAR(50),
    Town VARCHAR(30),
    Province VARCHAR(30),
    Source_type VARCHAR(50),
    Improvement VARCHAR(50),
    Source_status VARCHAR(50) DEFAULT 'Backlog' CHECK (Source_status IN ('Backlog', 'In progress', 'Complete')),
    Date_of_completion DATE,
    Comments TEXT
);

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.
 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

# Improvements
At a high level, the Improvements are as follows:
1. Rivers  Drill wells
2. wells: if the well is contaminated with chemicals  Install RO filter
3. wells: if the well is contaminated with biological contaminants  Install UV and RO filter
4. shared_taps: if the queue is longer than 30 min (30 min and above)  Install X taps nearby where X number of taps is
   calculated using X = FLOOR(time_in_queue / 30).
6. tap_in_home_broken  Diagnose local infrastructure

In [38]:
%%sql
# let's take various Improvements one by one, then combine them into one query at the end
# This first query joins the location, visits, and well_pollution tables to the water_source table.
# Since well_pollution only has data for wells, we use a LEFT JOIN.
# we used visits, the central table, to link the various id's together.
# remove the limit at the end
SELECT
    location.address,
    location.town_name,
    location.province_name,
    water_source.source_id,
    water_source.type_of_water_source,
    well_pollution.results
FROM
    water_source
LEFT JOIN
    well_pollution 
    ON water_source.source_id = well_pollution.source_id
INNER JOIN
    visits 
    ON water_source.source_id = visits.source_id
INNER JOIN
    location
    ON location.location_id = visits.location_id
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('2 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00000224', 'tap_in_home', None),
 ('10 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00001224', 'tap_in_home_broken', None),
 ('9 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00002224', 'tap_in_home_broken', None),
 ('139 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00003224', 'well', 'Clean'),
 ('17 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00004224', 'tap_in_home_broken', None)]

In [49]:
%%sql
# filtered the result set to:
    # Only records with visit_count = 1 - this must always be true
    # Any of the following rows can be included:
        # a. Only wells that are contaminated are allowed -- So we exclude wells that are Clean
        # b. Include any river and tap_in_home_broken sources.
        # c. Where shared taps have queue times >= 30 min.
# remove the limit at the end
SELECT
    location.address,
    location.town_name,
    location.province_name,
    water_source.source_id,
    water_source.type_of_water_source,
    well_pollution.results
FROM
    water_source
LEFT JOIN
    well_pollution 
    ON water_source.source_id = well_pollution.source_id
INNER JOIN
    visits 
    ON water_source.source_id = visits.source_id
INNER JOIN
    location
    ON location.location_id = visits.location_id
WHERE
    visits.visit_count = 1
    AND (
        well_pollution.results != 'Clean'
        OR water_source.type_of_water_source IN ('tap_in_home_broken', 'river')
        OR (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
    )
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'SoIl32582224', 'river', None),
 ('129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'KiRu28935224', 'well', 'Contaminated: Biological'),
 ('18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'HaRu19752224', 'shared_tap', None),
 ('100 Mogadishu Road', 'Lusaka', 'Akatsi', 'AkLu01628224', 'well', 'Contaminated: Biological'),
 ('26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'KiRu29315224', 'river', None)]

In [47]:
%%sql
# Added the improvements column that directs the engineers on what to do. 
# Note that the result set completely excludes functioning taps at home.

SELECT
    location.address,
    location.town_name,
    location.province_name,
    water_source.source_id,
    water_source.type_of_water_source,
    well_pollution.results,
    CASE
        WHEN well_pollution.results = 'Contaminated: Chemical'
            THEN 'Install RO filter'
        WHEN well_pollution.results = 'Contaminated: Biological'
            THEN 'Install UV and RO filter'
        WHEN water_source.type_of_water_source = 'river' 
            THEN 'Drill well'
        WHEN water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30 
            THEN CONCAT("Install ", FLOOR(visits.time_in_queue/30), " taps nearby")
        WHEN water_source.type_of_water_source = 'tap_in_home_broken'
            THEN 'Diagnose local infrastructure'
        ELSE NULL
    END AS Improvements
FROM
    water_source
LEFT JOIN
    well_pollution 
    ON water_source.source_id = well_pollution.source_id
INNER JOIN
    visits 
    ON water_source.source_id = visits.source_id
INNER JOIN
    location
    ON location.location_id = visits.location_id
WHERE
    visits.visit_count = 1
    AND (
        well_pollution.results != 'Clean'
        OR water_source.type_of_water_source IN ('tap_in_home_broken', 'river')
        OR (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
    )
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'SoIl32582224', 'river', None, 'Drill well'),
 ('129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'KiRu28935224', 'well', 'Contaminated: Biological', 'Install UV and RO filter'),
 ('18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'HaRu19752224', 'shared_tap', None, 'Install 2 taps nearby'),
 ('100 Mogadishu Road', 'Lusaka', 'Akatsi', 'AkLu01628224', 'well', 'Contaminated: Biological', 'Install UV and RO filter'),
 ('26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'KiRu29315224', 'river', None, 'Drill well')]

In [50]:
%%sql
# prepared this result set to be added to the project_progress table

SELECT
    water_source.source_id source_id,    
    location.address address,
    location.town_name town,
    location.province_name province,    
    water_source.type_of_water_source Source_type,
    CASE
        WHEN well_pollution.results = 'Contaminated: Chemical'
            THEN 'Install RO filter'
        WHEN well_pollution.results = 'Contaminated: Biological'
            THEN 'Install UV and RO filter'
        WHEN water_source.type_of_water_source = 'river' 
            THEN 'Drill well'
        WHEN water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30 
            THEN CONCAT("Install ", FLOOR(visits.time_in_queue/30), " taps nearby")
        WHEN water_source.type_of_water_source = 'tap_in_home_broken'
            THEN 'Diagnose local infrastructure'
        ELSE NULL
    END AS Improvement
FROM
    water_source
LEFT JOIN
    well_pollution 
    ON water_source.source_id = well_pollution.source_id
INNER JOIN
    visits 
    ON water_source.source_id = visits.source_id
INNER JOIN
    location
    ON location.location_id = visits.location_id
WHERE
    visits.visit_count = 1
    AND (
        well_pollution.results != 'Clean'
        OR water_source.type_of_water_source IN ('tap_in_home_broken', 'river')
        OR (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
    )
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('SoIl32582224', '36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'river', 'Drill well'),
 ('KiRu28935224', '129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'well', 'Install UV and RO filter'),
 ('HaRu19752224', '18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'shared_tap', 'Install 2 taps nearby'),
 ('AkLu01628224', '100 Mogadishu Road', 'Lusaka', 'Akatsi', 'well', 'Install UV and RO filter'),
 ('KiRu29315224', '26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'river', 'Drill well')]

In [ ]:
%%sql
# added result set to the project_progress table
DELETE FROM project_progress;
INSERT INTO 
    project_progress (
        source_id,
        Address,
        Town,
        Province,
        Source_type,
        Improvement
    )

SELECT
    water_source.source_id source_id,    
    location.address address,
    location.town_name town,
    location.province_name province,    
    water_source.type_of_water_source Source_type,
    CASE
        WHEN well_pollution.results = 'Contaminated: Chemical'
            THEN 'Install RO filter'
        WHEN well_pollution.results = 'Contaminated: Biological'
            THEN 'Install UV and RO filter'
        WHEN water_source.type_of_water_source = 'river' 
            THEN 'Drill well'
        WHEN water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30 
            THEN CONCAT("Install ", FLOOR(visits.time_in_queue/30), " taps nearby")
        WHEN water_source.type_of_water_source = 'tap_in_home_broken'
            THEN 'Diagnose local infrastructure'
        ELSE NULL
    END AS Improvement
FROM
    water_source
LEFT JOIN
    well_pollution 
    ON water_source.source_id = well_pollution.source_id
INNER JOIN
    visits 
    ON water_source.source_id = visits.source_id
INNER JOIN
    location
    ON location.location_id = visits.location_id
WHERE
    visits.visit_count = 1
    AND (
        well_pollution.results != 'Clean'
        OR water_source.type_of_water_source IN ('tap_in_home_broken', 'river')
        OR (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
    )
;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.
 * mysql+pymysql://root:***@localhost:3306/md_water_services
25398 rows affected.

[]

In [54]:
%%sql
SELECT *
FROM
    project_progress
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[(1, 'SoIl32582224', '36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'river', 'Drill well', 'Backlog', None, None),
 (2, 'KiRu28935224', '129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'well', 'Install UV and RO filter', 'Backlog', None, None),
 (3, 'HaRu19752224', '18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'shared_tap', 'Install 2 taps nearby', 'Backlog', None, None),
 (4, 'AkLu01628224', '100 Mogadishu Road', 'Lusaka', 'Akatsi', 'well', 'Install UV and RO filter', 'Backlog', None, None),
 (5, 'KiRu29315224', '26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'river', 'Drill well', 'Backlog', None, None)]

# End
There we go, all done! Now we send off our summary report to Pres. Naledi with our main findings, so they can start organising the teams.